* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#hmContainer {
  display: flex;
  flex-flow: column;
  text-align: center;
  margin: 10% auto 0;
}
#line {
  margin: 0% auto;
  font-size: 25px;
  letter-spacing: 5px;
  font-weight: bold;
  display: inline-flex;
  justify-content: space-evenly;
}
form {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 2.5% 0 0;
}
#guess {
  width: 10%;
}
.letter {
  width: 25px;
  height: 25px;
  border: 1px solid #000;
}